// Преимущества

.advantages {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.advantages__title {
  @extend %visually_hidden;
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.14;

    color: $secondary-text-color;
  }
  &__description {
    margin: 0;
    display: block;
    line-height: 1.71;
  }

  // &__icon {
  //   display: block;
  //   margin: 0 auto;
  // }
}

.advantages-list__svg {
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: center;

  background-color: $advantages-icon-color;
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.advantages-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
  // max-width: 270px;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}
