// Наша команда

.team {
  background-color: $primery-bg-color;
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2em;
    line-height: 1.18;

    color: $secondary-text-color;

    @media screen and (min-width: 1200px) {
    }
    font-size: 2.571em;
    line-height: 1.2;
    margin-bottom: 50px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  background-color: $wite-color;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
  margin: 15px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}
.team-list__foto {
  width: 100%;
  margin-bottom: 30px;
}
.team-list__title {
  margin: 0;
  text-align: center;

  margin-bottom: 10px;
  font-weight: 500;
  font-size: $size-h3;
  line-height: 1.2;

  color: $secondary-text-color;
}

.team-list__description {
  margin: 0;
  text-align: center;

  margin-bottom: 16px;

  font-size: $size-h3;
  line-height: 1.2;
}

.team-list__icon-block {
  @include centeredFlex;

  // margin-bottom: 30px;
}

.team-list__icon {
  width: 44px;
  padding: 12px;
  fill: $team-icon-color;
  border-radius: 50%;
  transition: background-color $time $cubic, fill $time $cubic;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $wite-color;
  }
}
